# Data Science Tools and Ecosystem

## Author
Yoshi Hashimoto

**Objectives**
* Learn popular languages for data science
* Learn popular tools for data science
* Learn libraries for data science

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Matplotlib
* TensorFlow

|Data Science Tools|
|------------------|
|GitHub|
|Jupyter|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by by 60

In [4]:
200/60

3.3333333333333335